bin/
obj/
.vs/
*.user
source/packages/
launchSettings.json
.DS_Store
artifacts/
*.mobileprovision
*.p12
*.pfx
*.certSigningRequest
bindebug
*~lock~
__pycache__
.cache
/packaging/steam/local.conf
reverse-engineering
